In [2]:
import pandas as pd

In [3]:
df1=pd.DataFrame([[1,2,3],[2,7,3],[6,3,9]], columns=['A','B','C'])
df1

   A  B  C
0  1  2  3
1  2  7  3
2  6  3  9

In [4]:
df2=pd.DataFrame([ [11,12,312],[22,47,35],[63,32,92] ], columns=['X','y','Z'])
df2

    X   y    Z
0  11  12  312
1  22  47   35
2  63  32   92

In [9]:
df3=pd.merge(df1,df2,right_on='y',left_on='B')

In [10]:
df3

Empty DataFrame
Columns: [A, B, C, X, y, Z]
Index: []