In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Salary-Data.csv')

In [3]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [8]:
print(df['Salary'].dtype)

float64

In [10]:
print(df['Salary'].astype('category'))

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: category
Categories (30, float64): [37731.0, 39343.0, 39891.0, 43525.0, ..., 113812.0, 116969.0, 121872.0, 122391.0]