In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame([[1,2,34,2],[5,3,5,6],[4,64,5,7],[45,3,5,9],[0,3,5,32]],columns=['Asd','xcv','bmn','sfd'])
df.head()

   Asd  xcv  bmn  sfd
0    1    2   34    2
1    5    3    5    6
2    4   64    5    7
3   45    3    5    9
4    0    3    5   32

In [8]:
df.to_csv('sample.csv',index= False)